<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/faculty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body ng-app="app" ng-controller="feedController" ng-init="init()" style="background: white">
  <% include top_bar.ejs %>
   <div class="row faculty-profile-large" style="">
     <div class="feed-single"  style="margin-bottom: 20px;" ng-repeat="post in posts">
       <div class="feed-header">
         <img src="/images/profile.png">
         <a href="#" style="color: white;">{{post.posted_by.name_first}} {{post.posted_by.name_last}}</a>
       </div>
       <div class="feed-time" style="position: relative;left: 10px;">
         <p class="grey-text">{{post.time | date}}</p>
       </div>
       <div class="feed-content">
         <p>{{post.text}}</p>
         {{post.post}}
         <!-- <img src="/images/carouselimage.png"> -->
       </div>
       <div class="feed-like">
         <a href ng-click="likePost(post._id)"><i class="fa fa-thumbs-up"></i>Like</a>
         <!-- <a href="#"><i class="fa fa-comment"></i> Comment</a>
         <a href="#"><i class="fa fa-share"></i> Share</a> -->
         <div class="post-feed">
           <textarea name="commentText" placeholder="Comment" ng-model="commentText" resizable="false"></textarea>
           <input type="file" style="display: none;" accept="image/*">
           <p style="height: 50px">
             <button type="button" ng-click="commentFeed(post._id)" class="right post-btn comment-button">Post</button>
           </p>
           <div class="comment" ng-repeat="comment in post.comment">
             <p><a href="#" style="font-weight: bold">{{comment.posted_by.name_first}} {{comment.posted_by.name_last}}</a></p>
             <p style="margin-left: 5%;">{{comment.text}}</p>
           </div>
         </div>
       </div>
       </div>
     </div>
   </div>
  </body>
  <div id="searchcontainer">
    <form id="search" action="/web/search" method="get">
      <input type="text" name="text" id="text" placeholder="Enter search terms...">
      <div>Press Enter to Search</div>
    </form>
  </div>
</html>
<script>
  $(document).ready(function(){
    $('.tabs').tabs();
    $('.stats').height($('.data').height());
    $(".button-collapse").sideNav();
    $('select').material_select();
  })
  function fileTrigger(){
    $('input[type=file]').click();
  }
  var ismobile = navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i) != null
  var touchorclick = (ismobile)? 'touchstart' : 'click'
  var searchcontainer = document.getElementById('searchcontainer')
  var searchfield = document.getElementById('search-terms')
  var searchlabel = document.getElementById('search-label')

  searchlabel.addEventListener(touchorclick, function(e){ // when user clicks on search label
  	searchcontainer.classList.toggle('opensearch') // add or remove 'opensearch' to searchcontainer
  	if (!searchcontainer.classList.contains('opensearch')){ // if hiding searchcontainer
  		searchfield.blur() // blur search field
  		e.preventDefault() // prevent default label behavior of focusing on search field again
  	}
  	e.stopPropagation() // stop event from bubbling upwards
  }, false)

  searchfield.addEventListener(touchorclick, function(e){ // when user clicks on search field
  	e.stopPropagation() // stop event from bubbling upwards
  }, false)

  document.addEventListener(touchorclick, function(e){ // when user clicks anywhere in document
  	searchcontainer.classList.remove('opensearch')
  	searchfield.blur()
  }, false)
</script>
<style>
  .faculty-profile-large{
    padding: 5% 15%;
  }
  @media only screen and (max-device-width: 600px){
    .faculty-profile-large{
      width: 120%;
      margin-left: -10%;
    }
    .faculty-profile-large .comment-button{
      margin-left: -10%;
      margin-top: 10px;
    }
  }
</style>
