<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/scholocal.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#search">Search&nbsp<i class="fa fa-search"></i></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../web/auth/login" class="btn-custom">Login</a></li>
            <li><a href="#join" class="btn-custom">Sign up</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item">
            <img src="images/carouselimage.png" data-color="lightblue" alt="First Image">
            <div class="carousel-caption">
              <p>Helping you make</p>
              <h3>confident decisions</h3>
              <p>with your future</p>
            </div>
        </div>
        <div class="item">
            <img src="https://unsplash.it/2000/1250?image=689" data-color="firebrick" alt="Second Image">
            <div class="carousel-caption">
              <p>Helping you make</p>
              <h3>confident decisions</h3>
              <p>with your future</p>
            </div>
        </div>
        <div class="item">
            <img src="https://unsplash.it/2000/1250?image=675" data-color="violet" alt="Third Image">
            <div class="carousel-caption">
              <p>Helping you make</p>
              <h3>confident decisions</h3>
              <p>with your future</p>
            </div>
        </div>
      </div>
    </div>
    <div class="know-more">
      Know More
      <a href="#how-it-works" style="color: white;text-decoration: none"><p>&#x25BC;</p></a>
    </div>
    <div class="row how-it-works no-margin no-padding" id="how-it-works">
      <h1>HOW IT WORKS</h1>
      <div class="links col-md-8 col-md-push-2">
        <ul class="nav nav-pills nav-justified">
          <li class="active"><a href="#tab_a" data-toggle="pill">Student</a></li>
          <li><a href="#tab_b" data-toggle="pill">Faculty</a></li>
          <li><a href="#tab_c" data-toggle="pill">Institution</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_a">
            <div class="row">
              <div class="col-md-3 col-md-push-2">
                <img src="images/how1.png">
                <h1 style="margin-top: 0px;margin-left: -15px">Enter</h1>
                <p class="blue-text">Your academic and location details</p>
              </div>
              <div class="col-md-3 col-md-push-2">
                <img src="images/how2.png">
                <h1 style="margin-top: 0px;margin-left: -15px">Create</h1>
                <p class="blue-text">an account with scholocal</p>
              </div>
              <div class="col-md-3 col-md-push-2">
                <img src="images/how3.png">
                <h1 style="margin-top: 0px;margin-left: -15px">Find</h1>
                <p class="blue-text">review and connect with tutors, institutes</p>
              </div>
            </div>
            <p class="blue-text" style="font-size: 120%;padding: 2%;">Make the best choice for your future with top rated reviews of the best tutors and coaching institutes near you. Connect - discuss doubts and world changing ideas with scholars near you. </p>
          </div>
          <div class="tab-pane" id="tab_b">
            <div class="row">
              <div class="col-md-3 col-md-push-2">
                <img src="images/how1.png">
                <h1 style="margin-top: 0px;margin-left: -15px">Enter</h1>
                <p class="blue-text">Your academic and location details</p>
              </div>
              <div class="col-md-3 col-md-push-2">
                <img src="images/how2.png">
                <h1 style="margin-top: 0px;margin-left: -15px">Create</h1>
                <p class="blue-text">an account with scholocal</p>
              </div>
              <div class="col-md-3 col-md-push-2">
                <img src="images/how3.png">
                <h1 style="margin-top: 0px;margin-left: -15px">Find</h1>
                <p class="blue-text">review and connect with tutors, institutes</p>
              </div>
            </div>
            <p class="blue-text" style="font-size: 120%;padding: 2%;">Make the best choice for your future with top rated reviews of the best tutors and coaching institutes near you. Connect - discuss doubts and world changing ideas with scholars near you. </p>
          </div>
          <div class="tab-pane" id="tab_c">
            <div class="row">
              <div class="col-md-3 col-md-push-2">
                <img src="images/how1.png">
                <h1 style="margin-top: 0px;margin-left: -15px">Enter</h1>
                <p class="blue-text">Your academic and location details</p>
              </div>
              <div class="col-md-3 col-md-push-2">
                <img src="images/how2.png">
                <h1 style="margin-top: 0px;margin-left: -15px">Create</h1>
                <p class="blue-text">an account with scholocal</p>
              </div>
              <div class="col-md-3 col-md-push-2">
                <img src="images/how3.png">
                <h1 style="margin-top: 0px;margin-left: -15px">Find</h1>
                <p class="blue-text">review and connect with tutors, institutes</p>
              </div>
            </div>
            <p class="blue-text" style="font-size: 120%;padding: 2%;">Make the best choice for your future with top rated reviews of the best tutors and coaching institutes near you. Connect - discuss doubts and world changing ideas with scholars near you. </p>
          </div>
          <h1 style="margin-top: 0px;">Be Scholocal.</h1>
        </div><!-- tab content -->
      </div>
    </div>
    <br>
    <div class="row" id="search">
      <h1 style="color: white;font-weight: 700;text-align: center">Try Searching</h1>
      <form action="#" method="get" style="text-align: center">
        <!-- <input class="custom-input" placeholder="Search here">
        <button type="submit"><i class="fa fa-search"></i></button> -->
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" class="custom-input search-query form-control" placeholder="Search" />
            <span class="input-group-btn">
              <button class="btn" type="button">
                <span class="fa fa-search"></span>
              </button>
            </span>
          </div>
        </div>
      </form>
      <h1 style="color: white;font-weight: 700;text-align: center">or</h1>
    </div>
    <div class="row join" id="join">
      <h1>JOIN SCHOLOCAL</h1>
      <br><br><br>
      <div class="col-md-3 col-md-push-2" id="one">
        <a href="#">
          <h3 style="text-align: center"><br><br><br><br>I am a <span class="dark">Student</span></h3>
        </a>
      </div>
      <div class="col-md-3 col-md-push-2" id="two">
        <a href="#">
          <h3 style="text-align: center"><br><br><br><br>I am a <span class="dark">Faculty</span></h3>
        </a>
      </div>
      <div class="col-md-3 col-md-push-2" id="three">
        <a href="#">
          <h3 style="text-align: left"><br><br><br><br>I own an <span class="dark">Institution</span></h3>
        </a>
      </div>
      <div class="col-sm-12">
        <br><br>
        <center><h3 class="blue-text">Already A Member?<br><a href="#" class="blue-text" style="text-decoration: none;">Log in</a></h3></center>
      </div>
    </div>
    <br>
    <div class="footer">
      <br>
      <h3 style="color: white">For any queries and support, contact us:</h3>
      <p><a href="mailto:prajit@scholocal.com" style="color: white;text-decoration: none">prajit@scholocal.com</a></p>
      <p><a href="mailto:sehaj@scholocal.com" style="color: white;text-decoration: none">sehaj@scholocal.com</a></p>
      <p>This site is designed, hosted and maintained by Scholocal.</p>
      <b>Copyright Content Scholocal</b>
    </div>
  </body>
</html>
