<div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="edit">Edit Profile</a></li>
        <li><a href="#!">Feed</a></li>
        <li><a href="#!">Logout</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper row">
            <a href="#!" class="center brand-logo"><img src="/images/logo_blue.png" style="width: 30%"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse" style="color: black;"><i class="material-icons">menu</i></a>

            <ul class="right brand-logo hide-on-med-and-down">
                <li><a href="#" id="search-label" class="center" style="font-weight: lighter;color: #002169">Search</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><img src="/images/profile.png"><i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="edit">Edit Profile</a></li>
                <li><a href="#!">Feed</a></li>
                <li><a href="#!">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
