*{
  font-family: 'Montserrat';
}
nav{
  background: white;
  padding: 0% 1%;
}
ul li a{
  color: #002163!important;
  font-weight: 700;
}
.custom-input{
  width: 30%!important;
  border: 1px solid grey!important;
  margin-left: 30%!important;
  background: #dadada!important;
  border-radius: 5px!important;
  color: black!important;
  text-indent: 5px!important;
}
.custom-input::placeholder{
  color: grey!important;
}
.custom-input:focus{
  border: 1px solid grey!important;
  box-shadow: none!important;
}
.faculty-profile-large .stats, .stats{
  background: #002163!important;
  color: white;
  height:auto!important;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 120%;
}
/*.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}*/
.rating > span.filled:before,
.rating > span.filled ~ span.filled:before {
   content: "\2605";
   position: absolute;
}
.header{
  font-weight: bold;
  font-size: 105%;
}
.blue-text{
  color: #002163!important;
}
.row{
  background: white;
}
body{
  background: #002163;
}
.follow-button{
  background: #002163;
  color: white;
  padding: 2%;
}
.tabs li a{
  color: black!important;
}
.tabs li a.active{
  color: #002163!important;
}
.tabs .indicator{
  background: #002163!important;
}
.review-rating, .review-date{
  color: #6a6a6a;
}
.review p{
  margin-top: -10px;
}
.experience-field{
  border-bottom: 1px solid grey;
  padding: 3%;
}
.experience-field .experience-title p{
  font-size: 150%;
}
.experience-field .experience-details p{
  margin-top: -10px!important;
  font-size: 90%;
}
.dropdown-button:hover{
  background: none;
}
.post-feed{
  padding: 2%;
  /*background: #ccc;*/
}
.post-feed textarea{
  height: 80px;
  resize: none;
  border-width: 2px;
  text-indent: 5px;
}
.post-feed textarea:focus{
  outline: none;
}
.post-feed .row{
  padding: 0%;
  margin-top: -10px;
  background: #a9a9a9;
  position: relative;
}
.post-feed p{
  padding: 2%;
  margin-top: -10px;
  background: #a9a9a9;
  position: relative;
}
.post-btn, .post-btn:focus{
  padding: 2% 4%;
  background: #002163;
  color: white;
  border: none;
  outline: none;
  position: absolute;
  left: 86%;
  top: -1%;
}
.feed-single{
  border-radius: 5px;
  border: 2px solid #a9a9a9;
  position: relative;
}
.feed-single .feed-header{
  background: #002163;
  font-size: 150%;
}
.feed-header img{
  position: relative;
  bottom: initial;
  -webkit-transform: translateY(50%);
   transform: translateY(50%);
   position: relative;
   top: 50%;
   border: 2px solid white;
}
.feed-single .feed-time{
  margin: 0px;
  margin-left: 15%;
  padding: 0px;
}
.feed-single .feed-content{
  padding: 0% 5%;
}
.feed-single .feed-content img{
  width: 100%;
}
.feed-single .feed-like a{
  color: #444;
  margin-left: 5%;
}
@media only screen and (max-device-width: 600px) {
  .custom-input{
    width: 80%!important;
    margin: 10px!important;
  }
  .hide-on-med-and-up{
    display: block;
  }
}



header {
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  /* center flex items vertically */
  background: white;
  padding: 10px 5px;
  font: bold 16px 'Bitter', sans-serif;
  /* use google font */
}

header,
header *,
form#search,
form#search * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  /* right align this flex child */
  margin-right: 10px;
}

header ul li {
  display: inline;
}

header ul li a {
  text-decoration: none;
  padding: 5px;
}

header #search-label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* center flex items vertically */
  width: 60px;
  height: 40px;
  z-index: 100;
}

div#searchcontainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: block;
  background: rgba(0,0,0,0.95);
  left: -100%;
  /* initially position search container out of view */
  top: 90px;
  /* shift container downwards so the header is still visible when search is shown */
  padding-top: 50px;
  opacity: 0;
  text-align: center;
  font: bold 16px 'Bitter', sans-serif;
  /* use google font */
  -webkit-transform: scale(.9) translate3d(-0, -50px, 0);
  transform: scale(.9) translate3d(-0, -50px, 0);
  -webkit-transition: -webkit-transform .5s, opacity .5s, left 0s .5s;
  transition: transform .5s, opacity .5s, left 0s .5s;
}

div#searchcontainer div {
  padding: 5px;
  color: white;
}

div#searchcontainer form {
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  -webkit-transition: all .5s 0s;
  transition: all .5s 0s;
}

div#searchcontainer form input[type="text"] {
  width: 90%;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 10px;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  font-size: 3em;
  background: #eee;
}

div#searchcontainer.opensearch {
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  transform: scale(1) translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform .5s, opacity .5s, left 0s 0s;
  transition: transform .5s, opacity .5s, left 0s 0s;
}

div#searchcontainer.opensearch form {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all .5s .5s;
  transition: all .5s .5s;
}

@media (max-width: 480px) {
  div#searchcontainer form input[type="text"] {
    width: 95%;
  }
  .row{
    width: 110%;
    margin-left: -5px;
  }
  .review-text, .review-rating, .review-date{
    margin-left: 25px;
    width: 95%;
  }
  .stats{
    height:auto!important;
    text-align: center;
  }
}
#sidenav-overlay{
  background-color: rgba(0,0,0,0.1);
}
